*.py[co]
*.swp
*~

# Eclipse IDE files
.project
.pydevproject
.settings/

# Sublime files
*.sublime-*

# Log files
*.log.[0-9]
*.log

.venv/

# Build output
build/
dist/
*.egg-info/

.coverage
coverage.xml
